In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

plt.style.use("seaborn-whitegrid")
df = pd.read_csv('bank_marketing_test.csv')
df.head()

C:\Users\loganlv\AppData\Local\Temp\ipykernel_13324\2787945009.py:6: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use("seaborn-whitegrid")

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,34,blue-collar,married,basic.6y,no,no,no,telephone,may,mon,4.0,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,29,admin.,married,high.school,no,yes,no,telephone,jun,fri,3.0,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
2,38,housemaid,married,high.school,unknown,no,no,telephone,may,thu,4.0,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
3,31,services,married,high.school,unknown,no,no,telephone,jun,thu,2.0,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1
4,45,blue-collar,married,professional.course,no,yes,no,telephone,may,thu,NaN,6,2,success,-1.8,93.876,-40.0,0.683,5008.7

In [2]:
df.iloc[:,0] = df.iloc[:,0].astype('float64')

C:\Users\loganlv\AppData\Local\Temp\ipykernel_13324\314764190.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,0] = df.iloc[:,0].astype('float64')

In [3]:
X = df.copy()
for colname in X.select_dtypes("object"):
    X[colname], _ = X[colname].factorize()
discrete_features = X.dtypes == 'int64'
print(discrete_features)

age               False
job                True
marital            True
education          True
default            True
housing            True
loan               True
contact            True
month              True
day_of_week        True
campaign          False
pdays              True
previous           True
poutcome           True
emp.var.rate      False
cons.price.idx    False
cons.conf.idx     False
euribor3m         False
nr.employed       False
dtype: bool

In [4]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='most_frequent')
X['campaign'] = imputer.fit_transform(X[['campaign']])

In [5]:
from sklearn.preprocessing import MinMaxScaler

X = X.drop(['loan'], axis=1)
X = X.drop(['day_of_week'], axis=1)
scaler = MinMaxScaler()
X.iloc[:, -5:] = scaler.fit_transform(X.iloc[:, -5:])
X.head()

,age,job,marital,education,default,housing,contact,month,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,34.0,0,0,0,0,0,0,0,4.0,999,0,0,0.937500,0.698753,0.602510,0.957379,0.859735
1,29.0,1,0,1,0,1,0,1,3.0,999,0,0,1.000000,0.882307,0.376569,0.980503,1.000000
2,38.0,2,0,1,1,0,0,0,4.0,999,0,0,0.937500,0.698753,0.602510,0.958059,0.859735
3,31.0,3,0,1,1,0,0,1,2.0,999,0,0,1.000000,0.882307,0.376569,0.959420,1.000000
4,45.0,0,0,2,0,1,0,0,1.0,6,2,1,0.333333,0.652767,0.451883,0.011109,0.170510

In [6]:
X.to_csv('normalized_test.csv', index=False)